#hero{
    background-image: url('../../assets/hero-unsplash.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30%;
    padding-bottom: 5%;
    font-family: 'Lalezar', system-ui;
    min-height: 300px;
}

.callBtnContainer{
    display: flex;
    justify-content: end;
}
.callBtn{
    border-radius: 5px;
    background-color: #FFCE00;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 768px) {
    #hero{
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero-title{
        text-align: center;
        margin-top: 150px;
    }
    .callBtnContainer{
        justify-content: center;
    }
    .callBtn{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}