.about-txt {
    padding-top: 2vh;
    padding-bottom: 3vh;
}

@media (max-width: 414px) {
    #about {
        margin-top: -5vh;
    }
    .about-txt {
        padding-top: 2vh;
    }
}

@media (min-width: 414px) and (max-width: 768px) {
    #about {
        margin-top: -3vh;
    }

    .about-txt {
        padding-top: 2vh;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    #about {
        margin-top: -3vh;
    }
    
    .holdTxt{
        max-width: 55%;
    }

    .holdMom {
        display: flex;
        justify-content: start;
        margin-top: -9vh;
        margin-left: -20px;
    }
    .mom{
        max-height: 425px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .holdTxt{
        max-width: 60%;
    }
    
    .holdMom {
        float: right;
        margin-top: -20vh;
    }
}

@media (min-width: 1200px) {
    .holdMom {
        float: right;
        margin-top: -23vh; 
    }
}