#about{
    margin-bottom: 5%;
}

.checkerRow{
    margin-bottom: 20px;
}

.txtCol{
    padding: 3%;
}

#about .colTxt{
    padding-left: 4%;
    padding-right: 4%;
}

#about .image {
    width: 100%;
    min-height: 100%;
}

@media screen and (max-width: 767px){
    .checkerRow{
        display: flex;
        justify-content: center;
    }
    .imgCol{
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #about{
        margin-bottom: 5%;
    }
    
    .checkerRow{
        margin-bottom: 20px;
    }

    .txtCol{
        padding: 2%;
    }
    
    #about .colTxt{
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #about .colTxt{
        font-size: large;
    }
    .checkerRow{
        margin-bottom: 45px;
    } 
}

@media screen and (min-width: 1200px) {
    #about .colTxt{
        font-size: x-large;
    }
    .checkerRow{
        margin-bottom: 45px;
    }
}