#nav{
    position:fixed;
    width: 100%;
    z-index: 3;
    background-color: #000611;
}

.offcanvas{
    background-color: #000611;
    color: #FFCE00;
}

.btn-close{
    background-color:#FFCE00;
}

.logo-img{
    max-height: 75px;
    margin: 5px;
    margin-left: 30px;
}

.navTxt{

    font-family:'Lalezar', system-ui;
    display: flex;
    justify-content: end;
    margin-top: 15%;
    color: #FFCE00;
    text-decoration: none;
}
.menuContainer{
    display: flex;
    justify-content: end;
    color: #FFCE00;
}

@media (max-width: 768px) {
    .logo-img{
        max-height: 55px;
        margin-left: 0;
    }
    .navTxt{
        justify-content: start;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .hamMenu{
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .logo-img{
        max-height: 65px;
        margin-left: 0;
    }
    .navTxt{
        margin-top: 25%;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .logo-img{
        max-height: 70px;
    }
    .navTxt{
        margin-top: 20%;
    }
}

@media (min-width: 1200px) {
    .navTxt{
        margin-top: 18%;
    }
}
