#requests{
    background-image: url('../../assets/request-unsplash.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5%;
}

#requests .section-title{
    color: black;
}

#requests .myCard{
    border: none;
    border-radius: 5px;
    background-color: #181F28;
    height: 100%;
    width: 375px;
    font-size: 1rem;
}

.cardImage{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.requestBtn{
    font-family: 'Lalezar', system-ui;
    border-radius: 5px;
    background-color: #181F28;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #requests .myCard{
        height: 100%;
        width: 350px;
        font-size: 1rem;
    }
}