#footer{
    background-color:#283542;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 100vw;
}

.right-half{
    padding-right: 20px;
}

#footer .logos{
    color: white;
    font-size: 25px;
}

@media (max-width: 414px) {
    #footer{
        padding-top: 15px;
    }
    #footer p {
        font-size: 10px;
    }

    #footer .logos{
        font-size: 19px;
        margin-top: -15px;
    }
}

@media (min-width: 414px) and (max-width: 768px) {
    #footer{
        padding-top: 20px;
    }

    #footer .logos{
        font-size: 20px;
    }

    #footer .logo-container{
        margin-top: -5px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    #footer{
        padding-top: 20px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    #footer{
        padding-top: 20px;
    }
}

@media (min-width: 1200px) {
    #footer{
        padding-top: 20px;
    }
    #footer .logos{
        margin-right: 10px;
    }

    #footer .logo-container{
        margin-right: -10px;
    }
}