#footer{
    background-color:#000611;
    color: white;
    width: 100vw;
    padding-top: 3%;
    padding-bottom: 3%;
}

.link{
    color: white;

}

.right-half{
    text-align: end;
}

@media (max-width: 768px) {
.right-half{
    text-align: center;
}
.left-half{
    text-align: center;
}
}