@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap&family=Pavanam&display=swap');

body {
    overflow-x: hidden;
    background-color: #181F28;
    color: white;
    font-family: 'Pavanam', sans-serif;
}

.lalezar {
    font-family: 'Lalezar', system-ui;
}

.bg-img {
    width: 100vw;
}

.section-title {
    font-family: 'Lalezar', system-ui;
    color: #FFCE00;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 4%;
}

.miniTitle{
    font-family: 'Lalezar', system-ui;
    text-align: center;
}

@media (max-width: 500px) {}

@media (min-width: 500px) and (max-width: 768px) {}

@media (min-width: 768px) and (max-width: 992px) {
    .miniTitle{
        font-size: 1.3rem;;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .miniTitle{
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .section-title {
        font-size: 2rem;
    }
    .miniTitle{
        font-size: 1.8rem;
    }
}