#contacts{
    
}
.messageField{
    height: 100px;

}

.sendBtn{
    background-color: #FFCE00;
    color: black;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-family: 'Lalezar', system-ui;
    font-size: large;
}

.tinyTitle{
    font-family: 'Lalezar', system-ui;
    color: #FFCE00;
}

@media (max-width: 768px) {
    .infoTxtOne{
        text-align: center;
    }
    .infoTxtTwo{
        display: flex;
    }
    .tinyTitle{
        text-align: center;
    }
    .days{
        text-align: end;
        margin-left: -10%;
    }
}