#contacts{
    
}
.messageField{
    height: 100px;
}

.sendBtn{
    background-color: #FFCE00;
    color: black;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-family: 'Lalezar', system-ui;
    font-size: large;
}

.tinyTitle{
    font-family: 'Lalezar', system-ui;
    color: #FFCE00;
    text-align: left;
}

@media (max-width: 768px) {
    .infoTxtOne{
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 25px;
    }
    .infoTxtTwo{
        display: flex;
        font-size: 1.1rem;
    }
    .tinyTitle{
        text-align: center;
    }
    .days{
        text-align: end;
        margin-left: -10%;
    }
}

@media (max-width: 568px) {
    .days{
        margin-left: -12%;
    }
}